<section class="section-contact" data-aos="zoom-in-up" data-aos-once="true">


  <div class="form-contact">
    <%= form_with model: @contact, url: contacts_path, local: true, html: { class: "custom-form" } do |form| %>
      <h2><span>F</span>ormulaire de contact</h2>

      <div class="contact-row">
        <div class="contact-input">
          <%= form.text_field :last_name, placeholder: "Votre nom", required: true %>
        </div>

        <div class="contact-input">
          <%= form.email_field :email, placeholder: "Adresse email", required: true %>
        </div>
      </div>


      <div class="contact-input">
        <%= form.text_area :message, placeholder: "Votre message", class: "textarea", required: true %>
      </div>

      <%= form.submit "Envoyer.", class: "button-submit" %>
    <% end %>
  </div>


</section>
