<section class="section-contact">


  <div class="form-contact">
    <%= form_with model: @contact, url: contacts_path, local: true, html: { class: "custom-form" } do |form| %>
      <h2>Formulaire de contact</h2>

      <div class="contact-row">
        <div class="contact-input">
          <%#= form.label :last_name, "Nom" %>
          <%= form.text_field :last_name, placeholder: "Votre nom", required: true %>
        </div>

        <div class="contact-input">
          <%#= form.label :email, "Adresse email" %>
          <%= form.email_field :email, placeholder: "Adresse email", required: true %>
        </div>
      </div>


      <div class="contact-input">
        <%#= form.label :message, "Message" %>
        <%= form.text_area :message, placeholder: "Votre message", class: "textarea", required: true %>
      </div>

      <%# <div class="btn"> %>
      <%= form.submit "Envoyer.", class: "button-submit" %>
      <%# </div> %>
    <% end %>
  </div>


</section>
