<div class="hero-content">

  <div class="darkmode-toggle">
    <input type="checkbox" id="btn-darkmode-toggle" class="input-btn-darkmode">
    <label for="btn-darkmode-toggle" class="label-darkmode" id="dark-mode-toggle">

      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="sun">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v2.25m6.364.386-1.591 1.591M21 12h-2.25m-.386 6.364-1.591-1.591M12 18.75V21m-4.773-4.227-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z" />
      </svg>

      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="moon">
        <path stroke-linecap="round" stroke-linejoin="round" d="M21.752 15.002A9.72 9.72 0 0 1 18 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 0 0 3 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 0 0 9.002-5.998Z" />
      </svg>

    </label>
  </div>


  <div class="hero-top-content" data-aos="zoom-in" data-aos-once="true">
    <h1><span>B</span>enoit<br>
      <span>A</span>lexandre</h1>
    <p class="subtitle">Développeur web - Full Stack</p>
    <%= link_to "Mon CV.", download_resume_path(@resume), class: "button-download", target: "_blank" %>
    <% if user_signed_in? && current_user.admin? %>
      <%= link_to "Accéder à l'espace Admin", rails_admin_path, target: "_blank", class: "button-download" %>
    <% end %>

  </div>
  <div class="links">
    <%= link_to "https://www.linkedin.com/in/benalta7892", class: "link", target: "_blank" do %>
      <%= image_tag "linkedin.png", alt: "Linkedin" %>
    <% end %>

    <%= link_to "https://github.com/benalta7892", class: "link", target: "_blank" do %>
      <%= image_tag "github.png", alt: "Github" %>
    <% end %>

    <%# <a href="#" class="link"> %>
    <%#= image_tag "insta.png", alt: "Instagram" %>
    <%# </a> %>
  </div>

  <%# ajouter un bouton qui scroll jusqu'a la prochaine section %>
  <%= link_to "#first-section", id: "scroll-down" do %>
    <i class="fa-solid fa-caret-down"></i>
  <% end %>


</div>
