<nav data-aos="zoom-in">

  <div class="logo-container">
    <%= link_to root_path, class: "logo", aria: { label: "visit homepage", current: "page" } do %>
      <%= cl_image_tag "BenoitAlexandreLogo_ci6r6n", alt: "Logo de Benoit Alexandre", class: "logo-img" %>
    <% end %>
  </div>


  <div class="nav-links">
    <%= link_to 'Accueil.', root_path, aria: { current: "page" } %>
    <%= link_to 'À propos.', about_path %>
    <%= link_to 'Portfolio.', projects_path %>
    <%= link_to 'Contact.', new_contact_path %>

    <% if user_signed_in? && current_user.admin? %>
      <%= link_to "Accéder à l'administration", rails_admin_path %>
    <% end %>


  </div>

  <div class="main-navlinks">
    <button class="hamburger" type="button" aria-label="Toggle navigation" aria-expanded="false">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>

</nav>
