<div class="small-hero-content">


  <div class="small-hero-top-content">
    <h1 aria-label="Porsche, set free."><%= title %></h1>
    <p class="subtitle"><%= subtitle %></p>
    <%= link_to "Mon CV", url_for(@resume.pdf), class: "button-download", target: "_blank" %>
  </div>
  <div class="links">
    <%= link_to "https://www.linkedin.com/in/benalta7892", class: "link", target: "_blank" do %>
      <%= image_tag "linkedin.png", alt: "Linkedin" %>
    <% end %>

    <%= link_to "https://github.com/benalta7892", class: "link", target: "_blank" do %>
      <%= image_tag "github.png", alt: "Github" %>
    <% end %>

    <%# <a href="#" class="link"> %>
    <%#= image_tag "insta.png", alt: "Instagram" %>
    <%# </a> %>
  </div>
</div>

<%# <svg id="wave" style="transform:rotate(0deg); transition: 0.3s" viewBox="0 0 1440 120" version="1.1" xmlns="http://www.w3.org/2000/svg"><defs><linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0"><stop stop-color="rgba(255, 255, 255, 1)" offset="0%"></stop><stop stop-color="rgba(255, 255, 255, 1)" offset="100%"></stop></linearGradient></defs><path style="transform:translate(0, 0px); opacity:1" fill="url(#sw-gradient-0)" d="M0,36L60,46C120,56,240,76,360,72C480,68,600,40,720,30C840,20,960,28,1080,44C1200,60,1320,84,1440,90C1560,96,1680,84,1800,74C1920,64,2040,56,2160,46C2280,36,2400,24,2520,28C2640,32,2760,52,2880,58C3000,64,3120,56,3240,50C3360,44,3480,40,3600,50C3720,60,3840,84,3960,86C4080,88,4200,68,4320,60C4440,52,4560,56,4680,60C4800,64,4920,68,5040,66C5160,64,5280,56,5400,50C5520,44,5640,40,5760,40C5880,40,6000,44,6120,52C6240,60,6360,72,6480,76C6600,80,6720,76,6840,74C6960,72,7080,72,7200,66C7320,60,7440,48,7560,44C7680,40,7800,44,7920,56C8040,68,8160,88,8280,92C8400,96,8520,84,8580,78L8640,72L8640,120L8580,120C8520,120,8400,120,8280,120C8160,120,8040,120,7920,120C7800,120,7680,120,7560,120C7440,120,7320,120,7200,120C7080,120,6960,120,6840,120C6720,120,6600,120,6480,120C6360,120,6240,120,6120,120C6000,120,5880,120,5760,120C5640,120,5520,120,5400,120C5280,120,5160,120,5040,120C4920,120,4800,120,4680,120C4560,120,4440,120,4320,120C4200,120,4080,120,3960,120C3840,120,3720,120,3600,120C3480,120,3360,120,3240,120C3120,120,3000,120,2880,120C2760,120,2640,120,2520,120C2400,120,2280,120,2160,120C2040,120,1920,120,1800,120C1680,120,1560,120,1440,120C1320,120,1200,120,1080,120C960,120,840,120,720,120C600,120,480,120,360,120C240,120,120,120,60,120L0,120Z"></path></svg> %>
