<%= render 'shared/smallbanner', title: @resume.title, subtitle: "Découvrez mon parcours professionnel." %>
<div class="cv-container">
  <div class="cv-description">
    <p><%= @resume.description[0] %></p>
    <p><%= @resume.description[1] %></p>
  </div>
  <div class="cv-download">
    <%= image_tag url_for(@resume.picture), alt: "Image du CV" %>
    <%# bouton pour telecharger cv %>
    <%= link_to "Télécharger/Imprimer mon CV", url_for(@resume.pdf), class: "button-download", download: true %>
  </div>
</div>

<h1>Création de timeline</h1>

<div class="box-timeline">

  <div class="ligne"></div>

  <div class="rond r1" data-anim="1">&#127944;</div>
  <div class="rond r2" data-anim="2">&#128167;</div>
  <div class="rond r3" data-anim="3">&#128187;</div>
  <div class="rond r4" data-anim="4">&#128293;</div>


  <div class="box b1" data-anim="1">
    <h2>Lorem ipsum dolor sit amet.</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto adipisci, aperiam velit esse vitae voluptas libero dolore nobis! Quos sapiente doloribus deleniti veniam quidem! Deleniti.</p>
    <a href="#" class="btn">Lorem ipsum</a>
  </div>
  <div class="box b2" data-anim="2">
    <h2>Lorem ipsum dolor sit amet.</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto adipisci, aperiam velit esse vitae voluptas libero dolore nobis! Quos sapiente doloribus deleniti veniam quidem! Deleniti.</p>
    <a href="#" class="btn">Lorem ipsum</a>
  </div>
  <div class="box b3" data-anim="3">
    <h2>Lorem ipsum dolor sit amet.</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto adipisci, aperiam velit esse vitae voluptas libero dolore nobis! Quos sapiente doloribus deleniti veniam quidem! Deleniti.</p>
    <a href="#" class="btn">Lorem ipsum</a>
  </div>
  <div class="box b4" data-anim="4">
    <h2>Lorem ipsum dolor sit amet.</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto adipisci, aperiam velit esse vitae voluptas libero dolore nobis! Quos sapiente doloribus deleniti veniam quidem! Deleniti.</p>
    <a href="#" class="btn">Lorem ipsum</a>
  </div>

</div>
