<br>
<a id="first-section"></a>


<div class="cv-container" data-aos="fade-up">
  <div class="cv-description">
    <p><%= @resume.description[0] %></p>
    <p><%= @resume.description[1] %></p>
  </div>

  <div class="cv-download" >
    <%= cl_image_tag @resume.picture.key, alt: "Image du CV" %>

    <!-- bouton de téléchargement avec popover -->
    <div data-controller="popover" data-action="mouseenter->popover#show mouseleave->popover#hide">
      <%= link_to download_resume_path(@resume), class: "button-download", target: "_blank", rel: "noopener noreferrer" do %> <!-- Lien de téléchargement -->
        <i class="fa-solid fa-download" style="color: #000000;"></i>
      <% end %>

      <!-- Contenu du popover pour le bouton de téléchargement -->
      <template data-popover-target="content">
        <div data-popover-target="card" class="popover-content">
          <p>Mon CV</p>
        </div>
      </template>
    </div>
  </div>

</div>

<%# <div class="time-line-container"> %>
<!-- Section Éducation -->
<div class="section-parcours" data-aos="fade-up">
  <h2><span>C</span>onfirmé par des diplômes</h2>
  <% if user_signed_in? && current_user.admin? %>
    <%= link_to "Ajouter une nouvelle éducation", new_resume_education_path(@resume.id), class: "button", data: { turbo: false } %>
  <% end %>
  <div class="box-timeline parcours-timeline">
    <div class="ligne parcours-ligne"></div>
    <% @educations.each_with_index do |education, index| %>
      <div class="rond parcours-rond r<%= index + 1 %>" data-anim="<%= index + 1 %>">
        &#127891; <!-- Icône pour les éducations -->
      </div>
      <div class="box parcours-box b<%= index + 1 %> <%= index.even? ? 'left' : 'right' %>" data-anim="<%= index + 1 %>">
        <p class="date"><%= education.start_date.strftime('%m/%Y') %> - <%= education.end_date ? education.end_date.strftime('%m/%Y') : "À ce jour" %></p>
        <h2><%= education.diploma_name %></h2>
        <p><%= education.institution_name %></p>
        <p><%= education.location %></p>

        <!-- Affichage des boutons Modifier et Supprimer si l'utilisateur est admin -->
        <% if user_signed_in? && current_user.admin? %>
          <div class="editOrDeleteBtn education-btn">
            <%# <div class="edit-project-button"> %>
            <%= link_to 'Modifier', edit_resume_education_path(@resume, education), class: 'button button-edit', data: { turbo: false } %>
            <%# </div> %>
            <%= link_to 'Supprimer', resume_education_path(@resume, education),
                data: { turbo_method: :delete, turbo_confirm: "Êtes-vous sûr de vouloir supprimer cette éducation ?" },
                class: "button button-delete" %>
          </div>
        <% end %>

      </div>
    <% end %>
  </div>
</div>

<%# if false %>
<!-- Section Expérience -->
<div class="section-experiences" data-aos="fade-up">
  <h2><span>E</span>xperiences Professionnelles</h2>
  <% if user_signed_in? && current_user.admin? %>
    <%= link_to "Ajouter une nouvelle expérience", new_resume_experience_path(@resume.id), class: "button" %>
  <% end %>
  <div class="box-timeline experience-timeline">
    <div class="ligne experience-ligne"></div>
    <% @experiences.each_with_index do |experience, index| %>
      <div class="rond experience-rond r<%= index + 1 %>" data-anim="<%= index + 1 %>">
        &#128188; <!-- Icône pour les expériences -->
      </div>
      <div class="box experience-box b<%= index + 1 %> <%= index.even? ? 'left' : 'right' %>" data-anim="<%= index + 1 %>">
        <p class="date"><%= experience.start_date.strftime('%m/%Y') %> - <%= experience.end_date ? experience.end_date.strftime('%m/%Y') : "À ce jour" %></p>
        <h2><%= experience.job_title %></h2>
        <p><%= experience.company_name %></p>
        <p><%= experience.location %></p>

        <!-- Affichage des boutons Modifier et Supprimer si l'utilisateur est admin -->
        <% if user_signed_in? && current_user.admin? %>
          <div class="editOrDeleteBtn education-btn">
            <%# <div class="edit-project-button"> %>
            <%= link_to 'Modifier', edit_resume_experience_path(@resume, experience), class: 'button button-edit' %>
            <%# </div> %>
            <%= link_to 'Supprimer', resume_experience_path(@resume, experience),
                data: { turbo_method: :delete, turbo_confirm: "Êtes-vous sûr de vouloir supprimer cette éducation ?" },
                class: "button button-delete" %>
          </div>
        <% end %>

      </div>
    <% end %>
  </div>
</div>
<%# end %>
<%# </div> %>


<section class="carousel-logos">
  <div class="carousel" id="carousel" role="region" aria-label="Logo Carousel">

    <div class="carousel-mask-left"></div>
    <div class="carousel-mask-right"></div>

    <div class="carousel-container" id="carouselContainer" role="list">
      <!-- Logos Front-End -->
      <% @frontend_technologies.each do |tech| %>
        <% if tech.logo.attached? %>
          <%= cl_image_tag tech.logo.key, alt: tech.name, width: 100, height: 100, class: "carousel-logo" %>
        <% else %>
          <p>Image manquante pour <%= tech.name %>.</p>
        <% end %>
      <% end %>

      <!-- Logos Back-End -->
      <% @backend_technologies.each do |tech| %>
        <% if tech.logo.attached? %>
          <%= cl_image_tag tech.logo.key, alt: tech.name, width: 100, height: 100, class: "carousel-logo" %>
        <% else %>
          <p>Image manquante pour <%= tech.name %>.</p>
        <% end %>
      <% end %>

      <!-- Logos Outils -->
      <% @tools.each do |tool| %>
        <% if tool.logo.attached? %>
          <%= cl_image_tag tool.logo.key, alt: tool.name, width: 100, height: 100, class: "carousel-logo" %>
        <% else %>
          <p>Image manquante pour <%= tool.name %>.</p>
        <% end %>
      <% end %>
    </div>

  </div>
</section>
