<%= render 'shared/smallbanner', title: @resume.title, subtitle: "Découvrez mon parcours professionnel." %>
<div class="cv-container">
  <div class="cv-description">
    <p><%= @resume.description[0] %></p>
    <p><%= @resume.description[1] %></p>
  </div>
  <div class="cv-download">
    <%= image_tag url_for(@resume.picture), alt: "Image du CV" %>
    <%# bouton pour telecharger cv %>
    <%= link_to "Télécharger/Imprimer mon CV", url_for(@resume.pdf), class: "button-download", download: true %>
  </div>
</div>

<h1>Création de timeline</h1>

<div class="box-timeline">

  <div class="ligne"></div>

  <% @educations.each_with_index do |education, index| %>
    <!-- Les éléments "rond" pour chaque éducation -->
    <div class="rond r<%= index + 1 %>" data-anim="<%= index + 1 %>">&#127944;</div>

    <!-- Les éléments "box" pour chaque éducation -->
    <div class="box b<%= index + 1 %>" data-anim="<%= index + 1 %>">
      <h2><%= education.diploma_name %></h2>
      <!-- Titre de l'éducation -->
      <p><strong>Institution :</strong> <%= education.institution_name %></p>
      <!-- Institution -->
      <p><strong>Lieu :</strong> <%= education.location %></p>
      <!-- Lieu -->
      <p><strong>Période :</strong> Du <%= education.start_date.strftime('%d %B %Y') %> au <%= education.end_date.strftime('%d %B %Y') %></p>
      <!-- Dates formatées -->
      <a href="#" class="btn">En savoir plus</a> <!-- Bouton avec lien (à adapter si nécessaire) -->
    </div>
  <% end %>

</div>
