<%= render 'shared/smallbanner', title: @resume.title, subtitle: "Découvrez mon parcours professionnel." %>
<div class="cv-container">
  <div class="cv-description">
    <p><%= @resume.description[0] %></p>
    <p><%= @resume.description[1] %></p>
  </div>
  <div class="cv-download">
    <%= image_tag url_for(@resume.picture), alt: "Image du CV" %>
    <%# bouton pour telecharger cv %>
    <%= link_to "Télécharger/Imprimer mon CV", url_for(@resume.pdf), class: "button-download", download: true %>
  </div>
</div>

<div class="section-parcours">
  <h2>Mon parcours</h2>
  <div class="box-timeline">


    <div class="ligne"></div>

    <% icons = ["&#127891;", "&#127891;", "&#127891;", "&#127891;"] %> <!-- Définir les icônes ici -->

    <% @educations.each_with_index do |education, index| %>
      <!-- Les éléments "rond" pour chaque éducation avec une icône différente -->
      <div class="rond r<%= index + 1 %>" data-anim="<%= index + 1 %>">
        <%= icons[index % icons.size].html_safe %> <!-- Afficher une icône différente -->
      </div>

      <!-- Appliquer des classes dynamiques pour alterner l'alignement des boîtes -->
      <div class="box b<%= index + 1 %> <%= index.even? ? 'left' : 'right' %>" data-anim="<%= index + 1 %>">
        <p class="date"><%= education.start_date.strftime('%m/%Y') %> - <%= education.end_date.strftime('%m/%Y') %></p>
        <h2><%= education.diploma_name %></h2>
        <p><%= education.institution_name %></p>
        <p><%= education.location %></p>
      </div>
    <% end %>

  </div>

</div>


<div class="slider-container slider-1">
  <div class="slider">

    <p><%= cl_image_tag("html5_kf7hmz.png", alt: "html") %></p>
    <p><%= cl_image_tag("css3_q9lv1h.png", alt: "css") %></p>
    <p><%= cl_image_tag("js_qh6ndw.png", alt: "javascript") %></p>
    <p><%= cl_image_tag("figma_d7mc4z.png", alt: "figma") %></p>
    <p><%= cl_image_tag("ruby_u4fzgi.png", alt: "ruby") %></p>
    <p><%= cl_image_tag("rails_w8dl1x.png", alt: "rails") %></p>
    <p><%= cl_image_tag("php_ehpiwx.png", alt: "php") %></p>
    <p><%= cl_image_tag("heroku_vqw6qd.png", alt: "heroku") %></p>
    <p><%= cl_image_tag("postgresql_czwsff.png", alt: "postgresql") %></p>


    <p><%= cl_image_tag("html5_kf7hmz.png", alt: "html") %></p>

    <p><%= cl_image_tag("css3_q9lv1h.png", alt: "css") %></p>


  </div>
</div>


<%= cl_image_tag("html5_kf7hmz.png", alt: "html") %>
<%= cl_image_tag("css3_q9lv1h.png", alt: "css") %>
<%= cl_image_tag("js_qh6ndw.png", alt: "javascript") %>
<%= cl_image_tag("figma_d7mc4z.png", alt: "figma") %>
<%= cl_image_tag("ruby_u4fzgi.png", alt: "ruby") %>
<%= cl_image_tag("rails_w8dl1x.png", alt: "rails") %>
<%= cl_image_tag("php_ehpiwx.png", alt: "php") %>
<%= cl_image_tag("heroku_vqw6qd.png", alt: "heroku") %>
<%= cl_image_tag("postgresql_czwsff.png", alt: "postgresql") %>
<%= cl_image_tag("html5_kf7hmz.png", alt: "html") %>
