<%# browser-sync start --proxy "localhost:3000" --files "app/views/**/*.erb, app/assets/stylesheets/**/*.css, app/assets/javascripts/**/*.js, app/models/**/*.rb, app/controllers/**/*.rb" --no-notify --watch --watch-options-ignoreInitial --watch-options-awaitWriteFinish %>
<%# <h1>Benoit <span>ALEXANDRE</span></h1> %>
<%# <p>Développeur web - Full Stack</p> %>
<%#= cl_image_tag @admin_user.avatar.key, alt: "Avatar", class: "avatar-img", height: 300, width: 400, crop: :fill %>

<div class="custom-cursor"></div>

<section class="hero">

  <%# <svg id="wave" style="transform:rotate(180deg); transition: 0.3s" viewBox="0 0 1440 100" version="1.1" xmlns="http://www.w3.org/2000/svg"><defs><linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0"><stop stop-color="rgba(255, 255, 255, 1)" offset="0%"></stop><stop stop-color="rgba(255, 255, 255, 1)" offset="100%"></stop></linearGradient></defs><path style="transform:translate(0, 0px); opacity:1" fill="url(#sw-gradient-0)" d="M0,50L40,51.7C80,53,160,57,240,55C320,53,400,47,480,38.3C560,30,640,20,720,13.3C800,7,880,3,960,16.7C1040,30,1120,60,1200,68.3C1280,77,1360,63,1440,55C1520,47,1600,43,1680,35C1760,27,1840,13,1920,21.7C2000,30,2080,60,2160,60C2240,60,2320,30,2400,21.7C2480,13,2560,27,2640,36.7C2720,47,2800,53,2880,60C2960,67,3040,73,3120,75C3200,77,3280,73,3360,65C3440,57,3520,43,3600,36.7C3680,30,3760,30,3840,33.3C3920,37,4000,43,4080,48.3C4160,53,4240,57,4320,50C4400,43,4480,27,4560,26.7C4640,27,4720,43,4800,51.7C4880,60,4960,60,5040,50C5120,40,5200,20,5280,10C5360,0,5440,0,5520,11.7C5600,23,5680,47,5720,58.3L5760,70L5760,100L5720,100C5680,100,5600,100,5520,100C5440,100,5360,100,5280,100C5200,100,5120,100,5040,100C4960,100,4880,100,4800,100C4720,100,4640,100,4560,100C4480,100,4400,100,4320,100C4240,100,4160,100,4080,100C4000,100,3920,100,3840,100C3760,100,3680,100,3600,100C3520,100,3440,100,3360,100C3280,100,3200,100,3120,100C3040,100,2960,100,2880,100C2800,100,2720,100,2640,100C2560,100,2480,100,2400,100C2320,100,2240,100,2160,100C2080,100,2000,100,1920,100C1840,100,1760,100,1680,100C1600,100,1520,100,1440,100C1360,100,1280,100,1200,100C1120,100,1040,100,960,100C880,100,800,100,720,100C640,100,560,100,480,100C400,100,320,100,240,100C160,100,80,100,40,100L0,100Z"></path></svg> %>

  <div class="hero-content">


    <div class="hero-top-content">
      <h1 aria-label="Porsche, set free.">Benoit Alexandre-Tachdjian</h1>
      <p class="subtitle">Développeur web - Full Stack</p>
    </div>
    <div class="links">
      <%= link_to "https://www.linkedin.com/in/benalta7892", class: "link", target: "_blank" do %>
        <%= image_tag "linkedin.png", alt: "Linkedin" %>
      <% end %>

      <%= link_to "https://github.com/benalta7892", class: "link", target: "_blank" do %>
        <%= image_tag "github.png", alt: "Github" %>
      <% end %>

      <%# <a href="#" class="link"> %>
      <%#= image_tag "insta.png", alt: "Instagram" %>
      <%# </a> %>
    </div>
  </div>

  <%# <svg id="wave" style="transform:rotate(0deg); transition: 0.3s" viewBox="0 0 1440 120" version="1.1" xmlns="http://www.w3.org/2000/svg"><defs><linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0"><stop stop-color="rgba(255, 255, 255, 1)" offset="0%"></stop><stop stop-color="rgba(255, 255, 255, 1)" offset="100%"></stop></linearGradient></defs><path style="transform:translate(0, 0px); opacity:1" fill="url(#sw-gradient-0)" d="M0,36L60,46C120,56,240,76,360,72C480,68,600,40,720,30C840,20,960,28,1080,44C1200,60,1320,84,1440,90C1560,96,1680,84,1800,74C1920,64,2040,56,2160,46C2280,36,2400,24,2520,28C2640,32,2760,52,2880,58C3000,64,3120,56,3240,50C3360,44,3480,40,3600,50C3720,60,3840,84,3960,86C4080,88,4200,68,4320,60C4440,52,4560,56,4680,60C4800,64,4920,68,5040,66C5160,64,5280,56,5400,50C5520,44,5640,40,5760,40C5880,40,6000,44,6120,52C6240,60,6360,72,6480,76C6600,80,6720,76,6840,74C6960,72,7080,72,7200,66C7320,60,7440,48,7560,44C7680,40,7800,44,7920,56C8040,68,8160,88,8280,92C8400,96,8520,84,8580,78L8640,72L8640,120L8580,120C8520,120,8400,120,8280,120C8160,120,8040,120,7920,120C7800,120,7680,120,7560,120C7440,120,7320,120,7200,120C7080,120,6960,120,6840,120C6720,120,6600,120,6480,120C6360,120,6240,120,6120,120C6000,120,5880,120,5760,120C5640,120,5520,120,5400,120C5280,120,5160,120,5040,120C4920,120,4800,120,4680,120C4560,120,4440,120,4320,120C4200,120,4080,120,3960,120C3840,120,3720,120,3600,120C3480,120,3360,120,3240,120C3120,120,3000,120,2880,120C2760,120,2640,120,2520,120C2400,120,2280,120,2160,120C2040,120,1920,120,1800,120C1680,120,1560,120,1440,120C1320,120,1200,120,1080,120C960,120,840,120,720,120C600,120,480,120,360,120C240,120,120,120,60,120L0,120Z"></path></svg> %>

</section>


<%# <div class="svg-wrapper"> %>

<%# <svg class="svg-top" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"> %>
<%# <path fill="#628395" fill-opacity="1" d="M0,32L26.7,64C53.3,96,107,160,160,165.3C213.3,171,267,117,320,85.3C373.3,53,427,43,480,48C533.3,53,587,75,640,101.3C693.3,128,747,160,800,149.3C853.3,139,907,85,960,96C1013.3,107,1067,181,1120,213.3C1173.3,245,1227,235,1280,213.3C1333.3,192,1387,160,1413,144L1440,128L1440,0L1413.3,0C1386.7,0,1333,0,1280,0C1226.7,0,1173,0,1120,0C1066.7,0,1013,0,960,0C906.7,0,853,0,800,0C746.7,0,693,0,640,0C586.7,0,533,0,480,0C426.7,0,373,0,320,0C266.7,0,213,0,160,0C106.7,0,53,0,27,0L0,0Z"></path> %>
<%# </svg> %>

<section class="container-presentation">

  <div class="presentation">

    <div class="text-presentation">
      <h2>Hello world</h2>
      <p>Je suis Benoit Alexandre-Tachdjian, <span>développeur web full stack</span>. Formé chez Le Wagon, j'ai acquis une expertise solide dans le développement de projets complets, du back-end au front-end. Explorez mon parcours et mes réalisations, et découvrez comment je peux vous accompagner dans vos projets !</p>
      <%= link_to '➡️ En savoir plus', about_path, data: { turbo: false } %>

    </div>

    <div class="avatar-presentation">
      <%= cl_image_tag @admin_user.avatar.key, alt: "Avatar" %>
    </div>

  </div>

  <div class="skills-container">

    <div class="skills-content">

      <div class="front-end">
        <h2>Skills Front-End</h2>
        <div class="logos">
          <%= cl_image_tag "html5_kf7hmz.png", alt: "HTML5 Logo", width: 100, height: 100 %>
          <%= cl_image_tag "css3_q9lv1h.png", alt: "CSS3 Logo", width: 100, height: 100 %>
          <%= cl_image_tag "js_qh6ndw.png", alt: "Javascript Logo", width: 100, height: 100 %>
          <%= cl_image_tag "figma_d7mc4z.png", alt: "Figma Logo", width: 100, height: 100 %>
        </div>
      </div>

      <div class="back-end">
        <h2>Skills Back-End</h2>
        <div class="logos">
          <%= cl_image_tag "ruby_u4fzgi.png", alt: "Ruby Logo", width: 100, height: 100 %>
          <%= cl_image_tag "rails_w8dl1x.png", alt: "Ruby On Rails Logo", width: 100, height: 100 %>
          <%= cl_image_tag "php_ehpiwx.png", alt: "PHP Logo", width: 100, height: 100 %>
          <%= cl_image_tag "heroku_vqw6qd.png", alt: "Heroku Logo", width: 100, height: 100 %>
          <%= cl_image_tag "postgresql_czwsff.png", alt: "PostgreSQL Logo", width: 100, height: 100 %>
        </div>
      </div>

    </div>

  </div>

</section>

<%# <svg class="svg-bottom" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"> %>
<%# <path fill="#628395" fill-opacity="1" d="M0,288L30,288C60,288,120,288,180,261.3C240,235,300,181,360,186.7C420,192,480,256,540,288C600,320,660,320,720,304C780,288,840,256,900,250.7C960,245,1020,267,1080,245.3C1140,224,1200,160,1260,160C1320,160,1380,224,1410,256L1440,288L1440,320L1410,320C1380,320,1320,320,1260,320C1200,320,1140,320,1080,320C1020,320,960,320,900,320C840,320,780,320,720,320C660,320,600,320,540,320C480,320,420,320,360,320C300,320,240,320,180,320C120,320,60,320,30,320L0,320Z"></path> %>
<%# </svg> %>

<%# </div> %>


<%# <svg class="svg-down" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"> %>
<%# <path fill="#628395" fill-opacity="1" d="M0,160L48,170.7C96,181,192,203,288,186.7C384,171,480,117,576,96C672,75,768,85,864,122.7C960,160,1056,224,1152,229.3C1248,235,1344,181,1392,154.7L1440,128L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path> %>
<%# </svg> %>

<section class="section-portolio">
  <h2>Portfolio</h2>


  <div class="carousel-portfolio" data-controller="carousel">

    <button data-action="click->carousel#previous" class="btn-carousel">
      <%= cl_image_tag "arrowL_y08p76", class: "custom-arrow",  alt: 'Flèche de gauche' %>
    </button>

    <div class="carousel-items-portfolio">
      <% @projects.each_with_index do |project, index| %>
        <%= link_to project_path(project), class: "carousel-slide #{'hidden' unless index == 0}", data: { action: "click->carousel#saveCurrentIndex", carousel_target: "slide", turbo: false } do %>
          <div class="carousel-image-container">
            <% if project.pictures.attached? %>
              <%= image_tag url_for(project.pictures.first), class: "carousel-image" %>
            <% else %>
              <p>Aucune image disponible pour ce projet.</p>
            <% end %>
          </div>
          <div class="project-title">
            <%= project.title %>
          </div>
        <% end %>
      <% end %>
    </div>


    <button data-action="click->carousel#next" class="btn-carousel">
      <%= cl_image_tag "arrowR_v3vouj", class: "custom-arrow",  alt: 'Flèche de droite' %>
    </button>


  </div>
  <%= link_to '➡️ En voir plus', projects_path, data: { turbo: false } %>

</section>
