<%# browser-sync start --proxy "localhost:3000" --files "app/views/**/*.erb, app/assets/stylesheets/**/*.css, app/assets/javascripts/**/*.js, app/models/**/*.rb, app/controllers/**/*.rb" --no-notify --watch --watch-options-ignoreInitial --watch-options-awaitWriteFinish %>

<div class="custom-cursor"></div>

<section class="section-presentation" id="first-section">

  <div class="text-content-presentation">

    <%# <div class="avatar-presentation"> %>
    <%= cl_image_tag @admin_user.avatar.key, alt: "Photo de profil" %>
    <%# </div> %>

    <h2><span>B</span>ienvenue</h2>
    <p>Je suis <span>développeur web full stack</span> avec une expertise solide dans le développement de projets complets, du back-end au front-end. Explorez mon parcours, mes réalisations et discutons pour concretiser vos idées.</p>

  </div>

  <%= link_to "Plus d'infos.", about_path, data: { turbo: false } %>


</section>


<section class="section-skills">

  <%# Lien pour ajouter une nouvelle technologie si l'utilisateur est administrateur %>
  <% if user_signed_in? && current_user.admin? %>
    <div class="add-tech-link">
      <%= link_to "Ajouter une nouvelle technologie", new_technology_item_path, class: "button button-add-tech", data: { turbo: false } %>
    </div>
  <% end %>


  <div class="skills-content">

    <div class="front-end">
      <h2><span>S</span>kills Front-End</h2>
      <div class="logos">
        <% @frontend_technologies.each do |tech| %>
          <% if tech.logo.attached? && tech.link.present? %>
            <div data-controller="popover" data-action="mouseenter->popover#show mouseleave->popover#hide">
              <%= link_to cl_image_tag(tech.logo.key, alt: tech.name, width: 100, height: 100), tech.link, target: "_blank", data: { turbo: false } %>
              <template data-popover-target="content">
                <div data-popover-target="card" class="popover-content <%= 'admin-visible' if user_signed_in? && current_user.admin? %>">
                  <p><%= tech.name %></p>
                </div>
              </template>

              <%# Boutons d'administration %>
              <% if user_signed_in? && current_user.admin? %>
                <div class="admin-buttons">
                  <%= link_to edit_technology_item_path(tech), class: "button button-edit", data: { turbo: false } do %>
                    <i class="fa-solid fa-pen-to-square"></i>
                  <% end %>

                  <%= link_to technology_item_path(tech),
                        data: { turbo_method: :delete, turbo_confirm: "Êtes-vous sûr de vouloir supprimer cette technologie ?" },
                        class: "button button-delete" do %>
                    <i class="fa-regular fa-trash-can"></i>
                  <% end %>

                </div>
              <% end %>

            </div>
          <% else %>
            <p>Information manquante pour la technologie <%= tech.name %>.</p>
          <% end %>


        <% end %>
      </div>
    </div>


    <div class="back-end">
      <h2><span>S</span>kills Back-End</h2>
      <div class="logos">
        <% @backend_technologies.each do |tech| %>
          <% if tech.logo.attached? && tech.link.present? %>
            <div data-controller="popover" data-action="mouseenter->popover#show mouseleave->popover#hide">
              <%= link_to cl_image_tag(tech.logo.key, alt: tech.name, width: 100, height: 100), tech.link, target: "_blank", data: { turbo: false } %>
              <template data-popover-target="content">
                <div data-popover-target="card" class="popover-content <%= 'admin-visible' if user_signed_in? && current_user.admin? %>">
                  <p><%= tech.name %></p>
                </div>
              </template>

              <%# Boutons d'administration %>
              <% if user_signed_in? && current_user.admin? %>
                <div class="admin-buttons">
                  <%= link_to edit_technology_item_path(tech), class: "button button-edit", data: { turbo: false } do %>
                    <i class="fa-solid fa-pen-to-square"></i>
                  <% end %>

                  <%= link_to technology_item_path(tech),
                    data: { turbo_method: :delete, turbo_confirm: "Êtes-vous sûr de vouloir supprimer cette technologie ?" },
                    class: "button button-delete" do %>
                    <i class="fa-regular fa-trash-can"></i>
                  <% end %>
                </div>
              <% end %>

            </div>
          <% else %>
            <p>Information manquante pour la technologie <%= tech.name %>.</p>
          <% end %>
        <% end %>
      </div>
    </div>


    <div class="outils">
      <h2><span>O</span>utils</h2>
      <div class="logos">
        <% @tools.each do |tool| %>
          <% if tool.logo.attached? && tool.link.present? %>
            <div data-controller="popover" data-action="mouseenter->popover#show mouseleave->popover#hide">
              <%= link_to cl_image_tag(tool.logo.key, alt: tool.name, width: 100, height: 100), tool.link, target: "_blank", data: { turbo: false } %>
              <template data-popover-target="content">
                <div data-popover-target="card" class="popover-content <%= 'admin-visible' if user_signed_in? && current_user.admin? %>">
                  <p><%= tool.name %></p>
                </div>
              </template>

              <%# Boutons d'administration %>
              <% if user_signed_in? && current_user.admin? %>
                <div class="admin-buttons">
                  <%= link_to edit_technology_item_path(tool), class: "button button-edit", data: { turbo: false } do %>
                    <i class="fa-solid fa-pen-to-square"></i>
                  <% end %>

                  <%= link_to technology_item_path(tool),
                    data: { turbo_method: :delete, turbo_confirm: "Êtes-vous sûr de vouloir supprimer cet outil ?" },
                    class: "button button-delete" do %>
                    <i class="fa-regular fa-trash-can"></i>
                  <% end %>
                </div>
              <% end %>

            </div>
          <% else %>
            <p>Information manquante pour l'outil <%= tool.name %>.</p>
          <% end %>
        <% end %>
      </div>
    </div>


  </div>

</section>


<section class="section-portolio">
  <h2><span>P</span>rojets phares</h2>


  <div class="carousel-portfolio" data-controller="carousel">

    <button data-action="click->carousel#previous" class="btn-carousel left">
      <%= cl_image_tag "arrowL_y08p76.png", class: "custom-arrow",  alt: 'Flèche de gauche' %>
    </button>

    <div class="carousel-items-portfolio">
      <% @projects.each_with_index do |project, index| %>
        <%= link_to project_path(project), class: "carousel-slide #{'hidden' unless index == 0}", data: { action: "click->carousel#saveCurrentIndex", carousel_target: "slide", turbo: false } do %>
          <div class="carousel-image-container">
            <% if project.pictures.attached? %>
              <%= cl_image_tag project.pictures.first.key, class: "carousel-image" %>
            <% else %>
              <p>Aucune image disponible pour ce projet.</p>
            <% end %>
            <i class="fa-solid fa-arrow-up-right-from-square"></i>

          </div>
          <div class="project-title">
            <%= project.title %>
          </div>
        <% end %>
      <% end %>
    </div>


    <button data-action="click->carousel#next" class="btn-carousel right">
      <%= cl_image_tag "arrowR_v3vouj.png", class: "custom-arrow",  alt: 'Flèche de droite' %>
    </button>


  </div>

  <%= link_to 'En voir plus.', projects_path, data: { turbo: false }, class: "link-more" %>

  <%# <div id="gh" data-login="Benalta7892" class="contributions"></div> %>

</section>


<%# <img src="http://ghchart.rshah.org/Benalta7892" alt="Benalta's Github chart" class="contributions" /> %>
