<%= render 'shared/smallbanner', title: @project.title, subtitle: "Application web de location." %>


<section class="section-swiper">


  <div class="btn-carousel-prev">
    <%= cl_image_tag "arrowL_y08p76", class: "custom-arrow",  alt: 'Flèche de gauche' %>
  </div>


  <div class="swiper-container">
    <div data-controller="swiper" style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper mySwiper2">
      <div class="swiper-wrapper">
        <% @project.pictures.each do |picture| %>
          <div class="swiper-slide">
            <%= image_tag picture %>
          </div>
        <% end %>
      </div>
    </div>


    <div thumbsSlider="" class="swiper mySwiper">
      <div class="swiper-wrapper">
        <% @project.pictures.each do |picture| %>
          <div class="swiper-slide">
            <%= image_tag picture %>
          </div>
        <% end %>
      </div>
    </div>
  </div>


  <div class="btn-carousel-next">
    <%= cl_image_tag "arrowR_v3vouj", class: "custom-arrow",  alt: 'Flèche de droite' %>
  </div>


</section>


<h2>Détails</h2>
<p>
  Imaginez un service unique qui permet aux utilisateurs de louer des
  super-héros pour des événements spéciaux. Une interface intuitive combinée à
  une gestion fluide des réservations, le tout conçu pour offrir une expérience inoubliable.
  <ul>
    <li>Accès à un espace personnel sécurisé avec authentification et création de compte simplifiée.</li>
    <li>Gestion des réservations passées, en cours et futures, ainsi que de vos propres super-héros disponibles à la location.</li>
    <li>Recherche avancée de super-héros basée sur la géolocalisation pour trouver des héros près de chez vous.</li>
    <li>Possibilité de réserver à la journée ou sur plusieurs jours, selon vos besoins.</li>
  </ul>
</p>

<p>
  <h3>Phase de conception (Design Sprint)</h3>
  <ul>
    <li>Problème a resoudre : mise en relation entre offre de location et future locataire proximité</li>
    <li>Wireframe et maquette utilisé Figma pour creer l'interface utilsateur </li>
    <li>Prototypage et test utilisateur pour valider les choix de design</li>
    <li>Planification Agile avec des sprints de développement, planification des releases, et rétrospectives.</li>
  </ul>

  <h3>Phase de développement</h3>
  <h4>Back-end</h4>
  <ul>
    <li>API RESTful avec Ruby on Rails.</li>
    <li>gestion de la base de données (PostgreSQL, Cloudinary pour les images).</li>
    <li>Authentification sécurisée avec Devise.</li>
    <li>gem "geocoder" pour</li>
    <li>pour Heroku pour </li>
  </p>
  <h4>Front-end</h4>
  <ul>
    <li>HTML, SCSS</li>
    <li>JavaScript : Stimulus.js</li>
    <li></li>
  </ul>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= @project.title %></h5>
      <p class="card-text">
        <strong>Technologies utilisées :</strong> <%= @project.technologies %>
      </p>
      <p class="card-text">
        <strong>Nombre de développeurs :</strong> <%= @project.dev_count %>
      </p>
      <p class="card-text">
        <strong>Lien vers le projet :</strong>
        <% if @project.link.present? %>
          <%= link_to @project.link, @project.link, target: "_blank", class: "card-link" %>
        <% else %>
          <span>Non disponible</span>
        <% end %>
      </p>
    </div>
  </div>


  <%# <div class="project-show"> %>
  <%# <div class="project-picture"> %>
  <%# if @project.pictures.attached? %>
  <%# @project.pictures.each do |picture| %>
    <%#= image_tag url_for(picture) %>
    <%# end %>
    <%# else %>
    <%# <p>Aucune image disponible pour ce projet.</p> %>
    <%# end %>
    <%# </div> %>

    <%# <div class="project-description"> %>
    <%# <h3> %>
    <%#= @project.title %>
    <%# </h3> %>
    <%# <p> %>
    <%#= @project.description %>
    <%# </p> %>

    <%# <p><strong>Technologies utilisées :</strong></p> %>
    <%# <div class="project-technologies"> %>
    <%# Affiche les technologies séparées par une virgule %>
    <%# <p> %>
    <%#= @project.technologies %>
    <%# </p> %>
    <%# </div> %>

    <%# <div class="project-links"> %>
    <%# if @project.link.present? %>
    <%#= link_to "Voir le code source", @project.link, target: "_blank", class: "button" %>
    <%# end %>
    <%# </div> %>
    <%# </div> %>
    <%# </div> %>
