<%# Ici rajouter un lien/bouton pour un retour a l'index des projets %>
<%# <div class="back-btn" id="first-section"> %>
<%# link_to '<i class="fa-solid fa-arrow-left"></i> Retour'.html_safe, projects_path, class: "back-btn", id: "first-section" %>
<%# </div> %>


<%# Affichage du bouton Modifier si l'utilisateur est admin %>
<div class="editOrDeleteBtn" id="first-section">
  <%= link_to '<i class="fa-solid fa-arrow-left"></i> Retour'.html_safe, projects_path, class: "button button-back" %>


  <% if user_signed_in? && current_user.admin? %>
    <div class="edit-project-button">
      <%= link_to 'Modifier', edit_project_path(@project), class: 'button button-edit' %>
    </div>
  <% end %>

  <% if user_signed_in? && current_user.admin? %>
    <%= link_to 'Supprimer', project_path(@project),
                data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
                class: "button button-delete" %>
  <% end %>
</div>


<section class="section-swiper">
  <h2><span>V</span>ue d'ensemble</h2>

  <div class="carousel-swiper">
    <div class="btn-carousel-prev">
      <%= cl_image_tag "arrowL_y08p76.png", class: "custom-arrow", alt: 'Flèche de gauche' %>
    </div>

    <div class="swiper-container">
      <div data-controller="swiper" style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper mySwiper2">
        <div class="swiper-wrapper">
          <% @project.pictures.each do |picture| %>
            <div class="swiper-slide">
              <% # Utiliser l'URL Cloudinary directement pour les images du projet %>
              <%= cl_image_tag(picture.key, class: "swiper-slide-img", alt: "Image du projet") %>
            </div>
          <% end %>
        </div>
      </div>

      <div thumbsSlider="" class="swiper mySwiper">
        <div class="swiper-wrapper">
          <% @project.pictures.each do |picture| %>
            <div class="swiper-slide">
              <% # Utiliser l'URL Cloudinary directement pour les images du projet (vignettes) %>
              <%= cl_image_tag(picture.key, class: "little-img-carousel", alt: "Image vignette du projet") %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="btn-carousel-next">
      <%= cl_image_tag "arrowR_v3vouj.png", class: "custom-arrow", alt: 'Flèche de droite' %>
    </div>
  </div>

  <div class="link-github">
    <% if @project.link.present? %>
      <%= link_to "🔗 Lien GitHub.", @project.link, target: "_blank" %>
    <% end %>
  </div>
</section>


<section class="section-details-container">
  <h2><span>O</span>bjectif et fonctionnalités</h2>


  <div class="details-items">

    <div class="description">
      <p><%= @project.description %></p>
    </div>

    <div class="barre"></div>

    <div class="features">
      <ul>
        <% @project.features.each do |feature| %>
          <li>
            <p><%= feature %></p>
          </li>
        <% end %>
      </ul>
    </div>

  </div>

  <div class="dev-count">
    <p>Projet d'équipe de  <%= @project.dev_count %> développeurs.</p>
  </div>

</section>


<%# <h2>Technologies utilisées</h2> %>


<section class="section-skills">
  <div class="skills-content">

    <div class="front-end">
      <h2><span>S</span>tack Front-End</h2>
      <div class="logos">
        <% @frontend_technologies.each do |tech| %>
          <% if tech.logo.attached? && tech.link.present? %>
            <div data-controller="popover" data-action="mouseenter->popover#show mouseleave->popover#hide">
              <% # Utiliser la clé Cloudinary pour générer l'URL %>
              <%= link_to cl_image_tag(tech.logo.key, alt: tech.name, class: "tech-logo", width: 100, height: 100), tech.link, target: "_blank", data: { turbo: false } %>
              <template data-popover-target="content">
                <div data-popover-target="card" class="popover-content">
                  <p><%= tech.name %></p>
                </div>
              </template>
            </div>
          <% else %>
            <p>Information manquante pour la technologie <%= tech.name %>.</p>
          <% end %>
        <% end %>
      </div>
    </div>


    <div class="back-end">
      <h2><span>S</span>tack Back-End</h2>
      <div class="logos">
        <% @backend_technologies.each do |tech| %>
          <% if tech.logo.attached? && tech.link.present? %>
            <div data-controller="popover" data-action="mouseenter->popover#show mouseleave->popover#hide">
              <% # Utiliser la clé Cloudinary pour générer l'URL de l'image %>
              <%= link_to cl_image_tag(tech.logo.key, alt: tech.name, class: "tech-logo", width: 100, height: 100), tech.link, target: "_blank", data: { turbo: false } %>
              <template data-popover-target="content">
                <div data-popover-target="card" class="popover-content">
                  <p><%= tech.name %></p>
                </div>
              </template>
            </div>
          <% else %>
            <p>Information manquante pour la technologie <%= tech.name %>.</p>
          <% end %>
        <% end %>
      </div>
    </div>


    <div class="outils">
      <h2><span>O</span>utils</h2>
      <div class="logos">
        <% @tools.each do |tool| %>
          <% if tool.logo.attached? && tool.link.present? %>
            <div data-controller="popover" data-action="mouseenter->popover#show mouseleave->popover#hide">
              <% # Utiliser la clé Cloudinary pour générer l'URL de l'image %>
              <%= link_to cl_image_tag(tool.logo.key, alt: tool.name, class: "tech-logo", width: 100, height: 100), tool.link, target: "_blank", data: { turbo: false } %>
              <template data-popover-target="content">
                <div data-popover-target="card" class="popover-content">
                  <p><%= tool.name %></p>
                </div>
              </template>
            </div>
          <% else %>
            <p>Information manquante pour l'outil <%= tool.name %>.</p>
          <% end %>
        <% end %>
      </div>
    </div>


  </div>
</section>


<%# <div class="project-show"> %>
<%# <div class="project-picture"> %>
<%# if @project.pictures.attached? %>
<%# @project.pictures.each do |picture| %>
  <%#= image_tag url_for(picture) %>
  <%# end %>
  <%# else %>
  <%# <p>Aucune image disponible pour ce projet.</p> %>
  <%# end %>
  <%# </div> %>

  <%# <div class="project-description"> %>
  <%# <h3> %>
  <%#= @project.title %>
  <%# </h3> %>
  <%# <p> %>
  <%#= @project.description %>
  <%# </p> %>

  <%# <p><strong>Technologies utilisées :</strong></p> %>
  <%# <div class="project-technologies"> %>
  <%# Affiche les technologies séparées par une virgule %>
  <%# <p> %>
  <%#= @project.technologies %>
  <%# </p> %>
  <%# </div> %>

  <%# <div class="project-links"> %>
  <%# if @project.link.present? %>
  <%#= link_to "Voir le code source", @project.link, target: "_blank", class: "button" %>
  <%# end %>
  <%# </div> %>
  <%# </div> %>
  <%# </div> %>
