<%= render 'shared/smallbanner', title: @project.title, subtitle: "Application web de location." %>


<section class="section-swiper">


  <div class="btn-carousel-prev">
    <%= cl_image_tag "arrowL_y08p76", class: "custom-arrow",  alt: 'Flèche de gauche' %>
  </div>


  <div class="swiper-container">
    <div data-controller="swiper" style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper mySwiper2">
      <div class="swiper-wrapper">
        <% @project.pictures.each do |picture| %>
          <div class="swiper-slide">
            <%= image_tag picture %>
          </div>
        <% end %>
      </div>
    </div>


    <div thumbsSlider="" class="swiper mySwiper">
      <div class="swiper-wrapper">
        <% @project.pictures.each do |picture| %>
          <div class="swiper-slide">
            <%= image_tag picture %>
          </div>
        <% end %>
      </div>
    </div>
  </div>


  <div class="btn-carousel-next">
    <%= cl_image_tag "arrowR_v3vouj", class: "custom-arrow",  alt: 'Flèche de droite' %>
  </div>


</section>

<div>
  <% if @project.link.present? %>
    🔗 <%= link_to "Lien GitHub", @project.link, target: "_blank" %>
  <% end %>
</div>


<div class="details-container">
  <h2>Détails du projet</h2>

  <div class="details-items">

    <div class="description">
      <p><%= @project.description %></p>
    </div>

    <div class="barre"></div>

    <div class="features">
      <ul>
        <% @project.features.each do |feature| %>
          <li><%= feature %></li>
        <% end %>
      </ul>
    </div>

  </div>


</div>

<div class="dev-count">
  <p>Projet d'équipe de  <%= @project.dev_count %> développeurs.</p>
</div>

<%# <h2>Technologies utilisées</h2> %>

<div class="skills-container">
  <div class="skills-content">

    <div class="front-end">
      <h2>Stack Front-End</h2>
      <div class="logos">
        <% @project.frontend_technologies.each do |tech_url| %>
          <%= image_tag tech_url, alt: "Logo technologie", class: "tech-logo" %>
        <% end %>
      </div>
    </div>

    <div class="back-end">
      <h2>Stack Back-End</h2>
      <div class="logos">
        <% @project.backend_technologies.each do |tech_url| %>
          <%= image_tag tech_url, alt: "Logo technologie", class: "tech-logo" %>
        <% end %>
      </div>
    </div>


    <div class="back-end">
      <h2>Outils</h2>
      <div class="logos">
        <% @project.tools.each do |tech_url| %>
          <%= image_tag tech_url, alt: "Logo technologie", class: "tech-logo" %>
        <% end %>
      </div>
    </div>


  </div>
</div>


<%# <div class="project-show"> %>
<%# <div class="project-picture"> %>
<%# if @project.pictures.attached? %>
<%# @project.pictures.each do |picture| %>
  <%#= image_tag url_for(picture) %>
  <%# end %>
  <%# else %>
  <%# <p>Aucune image disponible pour ce projet.</p> %>
  <%# end %>
  <%# </div> %>

  <%# <div class="project-description"> %>
  <%# <h3> %>
  <%#= @project.title %>
  <%# </h3> %>
  <%# <p> %>
  <%#= @project.description %>
  <%# </p> %>

  <%# <p><strong>Technologies utilisées :</strong></p> %>
  <%# <div class="project-technologies"> %>
  <%# Affiche les technologies séparées par une virgule %>
  <%# <p> %>
  <%#= @project.technologies %>
  <%# </p> %>
  <%# </div> %>

  <%# <div class="project-links"> %>
  <%# if @project.link.present? %>
  <%#= link_to "Voir le code source", @project.link, target: "_blank", class: "button" %>
  <%# end %>
  <%# </div> %>
  <%# </div> %>
  <%# </div> %>
