<h1>Nouveau message</h1>

<p><strong>Prénom :</strong> <%= @contact.first_name %> </p>
<p><strong>Nom :</strong> <%= @contact.last_name %> </p>
<p><strong>Email :</strong> <%= @contact.email %> </p>
<p><strong>Sujet :</strong> <%= @contact.subject %></p>
<p><strong>Message :</strong></p>
<p><%= @contact.message %></p>
