<div class="formulaire-conteneur" id="first-section">

  <h2><span>L</span>og in</h2>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-inputs' }) do |f| %>

    <% if resource.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(resource.errors.count, "erreur") %> empêchent la connexion :</h2>
        <ul>
          <% resource.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :email, "Email" %>
      <%= f.email_field :email, class: "form-control", autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :password, "Mot de passe" %>
      <%= f.password_field :password, class: "form-control", autocomplete: "current-password" %>
    </div>

    <%# Uncomment this if you want a "Remember me" checkbox %>
    <%# if devise_mapping.rememberable? %>
    <%# <div class="field"> %>
    <%#= f.check_box :remember_me %>
    <%#= f.label :remember_me, "Se souvenir de moi" %>
    <%# </div> %>
    <%# end %>

    <div class="actions">
      <%= f.submit "Se connecter", class: "button" %>
    </div>

    <%# Bouton Annuler %>
    <%= link_to "Annuler", root_path, class: "button button-cancel", onclick: "window.history.back(); return false;", data: { turbo: false } %>

  <% end %>

</div>

<%= render "devise/shared/links" %>
