<h1 id="first-section">Modifier l'Éducation</h1>

<%= form_with model: [@resume, @education], local: true do |form| %>
  <% if @education.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@education.errors.count, "erreur") %> empêchent cette éducation d'être sauvegardée :</h2>
      <ul>
        <% @education.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :start_date, "Date de début" %>
    <%= form.date_select :start_date, start_year: 2000, end_year: Date.today.year, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :end_date, "Date de fin" %>
    <%= form.date_select :end_date, start_year: 2000, end_year: Date.today.year, include_blank: true, class: "form-control" %>
    <small>Laisser vide si vous êtes toujours dans ces etudes.</small>
  </div>

  <div class="form-group">
    <%= form.label :diploma_name, "Nom du diplôme" %>
    <%= form.text_field :diploma_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :institution_name, "Nom de l'institution" %>
    <%= form.text_field :institution_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :location, "Lieu" %>
    <%= form.text_field :location, class: "form-control" %>
  </div>


  <%= form.submit "Mettre à jour l'éducation", class: "btn btn-primary" %>
<% end %>

<%= link_to 'Supprimer', resume_education_path(@resume, @education),
                data: { turbo_method: :delete, turbo_confirm: "Êtes-vous sûr de vouloir supprimer cette éducation ?" },
                class: "button button-delete" %>
