<!DOCTYPE html>
<html>
  <head>
    <title>Benoit ALEXANDRE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/animation.gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.6/gsap.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

    <%# <link rel="stylesheet" href="https://lengthylyova.pythonanywhere.com/static/gh-contrib-graph/gh.css"> %>

  </head>
  <body>
    <!-- Définition de la classe du header en fonction de la page -->
    <header id="vantajs" class="<%= current_page?(root_path) ? 'hero' : 'small-hero' %>">
      <%# <div class="overlay"></div> %>

      <!-- Inclure la navbar -->
      <%= render "shared/navbar" %>

      <!-- Afficher le contenu du header en fonction de la page -->
      <% if current_page?(root_path) %>
        <%= render "shared/hero" %> <!-- Pour la page d'accueil -->
      <% else %>
        <%= render "shared/smallbanner", title: @title, subtitle: @subtitle %> <!-- Pour les autres pages -->
      <% end %>
    </header>

    <main>
      <%= render "shared/flashes" %>
      <%= yield %>
      <%= render "shared/contact" %>
    </main>

    <%= render "shared/footer" %>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <%# <script src="https://lengthylyova.pythonanywhere.com/static/gh-contrib-graph/gh.js"></script> %>
  </body>
</html>
